{% extends 'base_index.html' %}
{% load static %}


{% block meta_description %}
	<meta name="description" content="Restaurant gastronomique 5 étoiles">
{% endblock %}


{% block page_Title %} 
	<title>Restaurant - Monarque - Blog</title>
{% endblock %} 



<!-- Le body -->
{% block content %}
    <section class="generic-banner relative" style="
        background-image: url('{% static "img/video-bg.jpg" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        ">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content text-white text-center">
                        <h1>Monarque - Blog</h1>
                        <p>Profiter de nos articles</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- About Generic Start -->
    <div class="main-wrapper">  
        <section class="blog-area section-gap" id="blog">
            <div class="container"> 
                <div class="row">
                    <!-- Afficher les articles -->
                    
                    {% for article in article_actif %}
                        <div class="col-lg-3 col-md-6 single-blog mb-20">
                            <div class="thumb">
                                <img class="img-fluid" src="{{ article.cover.url }}" alt="{{ article.cover_alt_text }}">
                            </div>
                            <p class="date">{{ article.date_creation|date:"d M Y" }}</p>
                            <a href="{% url 'article_detail' article.slug %}">
                                <h4>
                                    {{ article.lead }}
                                </h4>
                            </a>
                        </div> 
                    {% endfor %} 

                </div>
            </div>
        </section> 

        
{% endblock %}


{% block adresse_mail %}
	<br>{{ lien_map.app_adresse }}
	<br>{{ lien_map.app_mailadresse }} 
{% endblock %}


<!-- Début du footer -->
<!-- Afficher les numéros de téléphone -->
{% block footer_contact %}
	
	{% for tel in contacts %}
		<p class="number">
			{{ tel.contact }}
		</p>
	{% endfor %} 
	
{% endblock %}


<!-- Afficher les liens vers les plateformes sociale -->
{% block lien_plateforme %}  
	{% for link in liens %}
		{% if link.designation|lower  == 'facebook' %}
			<a href="{{ link.lien }}"><i class="fa fa-facebook"></i></a>
		{% elif link.designation|lower in 'twitter,x' %}
			<a href="{{ link.lien }}"><i class="fa fa-twitter"></i></a>
		{% elif link.designation|lower  == 'linkedin' %}
			<a href="{{ link.lien }}"><i class="fa fa-linkedin"></i></a> 
		{% endif %}
	{% endfor %}  
{% endblock %}
<!-- Fin du footer -->