{% extends 'base_index.html' %}
{% load static %}


{% block meta_description %}
	<meta name="description" content="Restaurant gastronomique 5 étoiles">
{% endblock %}


{% block page_Title %} 
	<title>Restaurant - Monarque - Blog</title>
{% endblock %} 



<!-- Le body -->
{% block content %}
    <section class="generic-banner relative" style="
        background-image: url('{% static "img/video-bg.jpg" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        ">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content text-white text-center">
                        <h1>Monarque - Blog</h1>
                        <p>Profiter de nos articles</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- About Generic Start -->
    <div class="main-wrapper">  
        <section class="blog-area section-gap" id="blog">
            <div class="container"> 
                <div class="row">
                    <!-- Afficher les articles -->
                    
                    {% for article in page_obj %}
                        <div class="col-lg-3 col-md-6 single-blog mb-20">
                            <div class="thumb">
                                <img class="img-fluid" src="{{ article.cover.url }}" alt="{{ article.cover_alt_text }}">
                            </div>
                            <p class="date">{{ article.date_creation|date:"d M Y" }}</p>
                            <a href="{% url 'article_detail' article.slug %}">
                                <h4>
                                    {{ article.lead }}
                                </h4>
                            </a>
                        </div> 
                    {% endfor %} 

                </div>

                <!-- La pagination -->
                <div class="flex justify-center">
                    <div class="inline-flex gap-2">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">
                                <button class="inline-grid place-items-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm min-w-[38px] min-h-[38px] rounded-md shadow-sm hover:shadow-md bg-transparent border-stone-800 text-stone-800 hover:bg-stone-800 hover:text-stone-50"><svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-4 w-4 stroke-2"><path d="M15 6L9 12L15 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>                                   
                                </button> 
                            </a> 
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <button class="inline-grid place-items-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm min-w-[38px] min-h-[38px] rounded-md shadow-sm hover:shadow-md bg-transparent border-stone-800 text-stone-800 hover:bg-stone-800 hover:text-stone-50">{{ page_obj.previous_page_number }}</button>
                            </a>
                        {% endif %}  
                        
                        <!-- Current page-->
                        <a href="?page={{ page_obj.number  }}">
                            <button class="inline-grid place-items-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm min-w-[38px] min-h-[38px] rounded-md shadow-sm hover:shadow-md bg-stone-800 border-stone-800 text-stone-50 hover:bg-stone-700 hover:border-stone-700">{{ page_obj.number  }}</button>
                        </a>

                        <!-- Next pages-->
                        {% if page_obj.has_next and page_obj.number != page_obj.paginator.num_pages %}
                            <a href="?page={{ page_obj.next_page_number }}">
                                <button class="inline-grid place-items-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm min-w-[38px] min-h-[38px] rounded-md shadow-sm hover:shadow-md bg-stone-800 border-stone-800 text-stone-50 hover:bg-stone-700 hover:border-stone-700">{{ page_obj.next_page_number }}</button>
                            </a>
                        {% endif %} 
                            
                        {% if page_obj.has_next %}   
                            <a href="?page={{ page_obj.paginator.num_pages }}">
                                <button class="inline-grid place-items-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm min-w-[38px] min-h-[38px] rounded-md shadow-sm hover:shadow-md bg-transparent border-stone-800 text-stone-800 hover:bg-stone-800 hover:text-stone-50"><svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-4 w-4 stroke-2"><path d="M9 6L15 12L9 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                </button>
                            </a>
                        {% endif %} 
                    </div>
                </div> 


            </div>
        </section> 

        
{% endblock %}


{% block adresse_mail %}
	<br>{{ lien_map.app_adresse }}
	<br>{{ lien_map.app_mailadresse }} 
{% endblock %}


<!-- Début du footer -->
<!-- Afficher les numéros de téléphone -->
{% block footer_contact %}
	
	{% for tel in contacts %}
		<p class="number">
			{{ tel.contact }}
		</p>
	{% endfor %} 
	
{% endblock %}


<!-- Afficher les liens vers les plateformes sociale -->
{% block lien_plateforme %}  
	{% for link in liens %}
		{% if link.designation|lower  == 'facebook' %}
			<a href="{{ link.lien }}"><i class="fa fa-facebook"></i></a>
		{% elif link.designation|lower in 'twitter,x' %}
			<a href="{{ link.lien }}"><i class="fa fa-twitter"></i></a>
		{% elif link.designation|lower  == 'linkedin' %}
			<a href="{{ link.lien }}"><i class="fa fa-linkedin"></i></a> 
		{% endif %}
	{% endfor %}  
{% endblock %}
<!-- Fin du footer -->