{% extends 'base_index.html' %}
{% load static %}


{% block meta_description %}
	<meta name="description" content="Restaurant gastronomique 5 étoiles">
{% endblock %}


{% block page_Title %} 
	<title>Restaurant - Monarque - Plat</title>
{% endblock %} 



<!-- Le body -->
{% block content %}
    <!-- Bannière et image de bannière(image principal du menu)-->
    <section class="generic-banner relative" style="
    background-image: url('{{ plat.image.url }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    ">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content text-white text-center">
                        <!-- Nom du plat -->
                        <h2>{{ plat.nom }}</h2>
                        <!-- Nom du menu -->
                        <p>Menu - {{ plat.id_menu.nom }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End banner Area -->

    <!-- About Generic Start -->
    <div class="main-wrapper">

        <!-- Start Generic Area -->
        <section class="about-generic-area section-gap">
            <div class="container border-top-generic"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="img-text">
                            <!-- Le contenu de la description du plat --> 
                            <p> 
                                {{ plat.description }}
                            </p>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- End Generic Start -->


        <!-- Afficher les autres plats -->
        <section class="blog-area section-gap">
            <div class="container">
                <div class="row"> 
                    <!-- On commence à afficher les articles-->
                    
                    {% for plat_x in plat_con %}
                        <div class="single-dish col-lg-4 mb-20">
                            <div class="thumb">
                                <img class="img-fluid" src="{{ plat_x.image.url }}" alt="{{ plat_x.image_alt_text }}">
                            </div>
                            <a href="{% url 'plat_detail' plat_x.nom %}">
                                <h4 class="text-uppercase pt-20 pb-20">{{ plat_x.nom }}</h4>
                            </a>
                            <ul class="unordered-list">
                                <li>Menu - {{ plat_x.id_menu.nom }}</li>
                            </ul> 
                        </div> 
                    {% endfor %} 
                    
                </div>
            </div>
        </section>
{% endblock %}


{% block adresse_mail %}
	<br>{{ lien_map.app_adresse }}
	<br>{{ lien_map.app_mailadresse }} 
{% endblock %}


<!-- Début du footer -->
<!-- Afficher les numéros de téléphone -->
{% block footer_contact %}
	
	{% for tel in contacts %}
		<p class="number">
			{{ tel.contact }}
		</p>
	{% endfor %} 
	
{% endblock %}


<!-- Afficher les liens vers les plateformes sociale -->
{% block lien_plateforme %}  
	{% for link in liens %}
		{% if link.designation|lower  == 'facebook' %}
			<a href="{{ link.lien }}"><i class="fa fa-facebook"></i></a>
		{% elif link.designation|lower in 'twitter,x' %}
			<a href="{{ link.lien }}"><i class="fa fa-twitter"></i></a>
		{% elif link.designation|lower  == 'linkedin' %}
			<a href="{{ link.lien }}"><i class="fa fa-linkedin"></i></a> 
		{% endif %}
	{% endfor %}  
{% endblock %}
<!-- Fin du footer -->